<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

				<div class="wrapper fadeInDown">
					<div id="formContent"> 
					  <!-- Login Form -->


					  <form class="form-register" action="/product/product-edit/<%= productos.id %> " method="POST" enctype="multipart/form-data">
						  <br>
	
						
						<input type="text" id="titulo" class="fadeIn second" name="titulo" placeholder="Titulo" value="<%= productos.titulo %>"/> 
						<input type="text" id="descripcion" class="fadeIn third" name="descripcion" placeholder="Descripcion" value="<%= productos.descripcion %>"/>
						<input type="file" id="foto" class="fadeIn second" name="foto" placeholder="Foto de producto" value="<%= productos.foto %>"/>
						<input type="hidden" id="login" class="fadeIn third" name="fotovieja" value="<%=productos.foto %>">
						<input type="hidden" id="created_at" class="fadeIn third" name="updated_at" placeholder="Fecha de carga"/>
						
						<div id="formFooter">
							<button type="text" class="underlineHover">submit</button>
						</div>
					  </form>
				  
					  <!-- Remind Passowrd -->
					

				  
					</div>
				  </div>
				</h2>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>