<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<%- include('./partials/headerDeslogueado')  %> 
	<!-- product detail -->
	 

	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=productos.titulo  %></h2>
			<p class="product-detail-description">
				<a href="/product/product-edit">Editar</a>
			</p>
			
		</div>
		
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=productos.foto %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=productos.descripcion %>
						</p>
				</article>

		
			<div class="col-12 col-lg-4">

				
					</a>
					</section>
					<form class="form" action="" method="post">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>