<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<%- include('./partials/headerLogueado')  %> 
	<!-- product detail -->
	 

	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=productos.titulo  %></h2>
			<p class="product-detail-description">
				<a href="/product/product-edit/<%= productos.id  %> ">Editar</a>
			</p>
			
		</div>
		
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%=productos.foto %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=productos.descripcion %>
						<br>
						Producto cargado por el usuario <a href="/users/profile/<%=productos.user.id%>"> "<%=productos.user.nombre%>"</a>
						</p>
						
				</article>
				<section class="comments">
					<% for (let i = 0; i < productos.comentarios; i++) { %>
						<article>
							<img src= "/images/users/<%=productos.comentarios[i].usuario.foto%>" alt="img perfil">
							<div class="data">
								<p class="user">
								
								</p>
							</div>
						</article>
						<% } %>
				</section>
		
			<div class="col-12 col-lg-4">
				
					
			
					<form class="form" action="/product/id/<%=productos.id%>"  method="POST">
						<input name="texto" class="form-input" type="text" value="" placeholder="Agregar comentario">
						
						
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					
					</form>

					<p> <%= productos.id_comentario %> </p>
					<p> Hola </p>
					
					
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>