<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
	
	<!-- /Header -->

	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
<% } else{%>
		<%- include('./partials/headerDeslogueado')  %> 
<% } %>
	<!-- product detail -->
	 

	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=productos.titulo  %></h2>
			<p class="product-detail-description">
				<a href="/product/product-edit/<%= productos.id  %> ">Editar</a>
			</p>
			
		</div>
		
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%=productos.foto %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=productos.descripcion %>
						<br>
						Producto cargado por el usuario <a href="/users/profile/<%=productos.user.id%>"> "<%=productos.user.nombre%>"</a>
						</p>
						
				</article>
				<section class="comments">
					<% for (let i = 0; i < productos.comentarios; i++) { %>
						<article>
							<img src= "/images/users/<%=productos.comentarios[i].usuario.foto%>" alt="img perfil">
							<div class="data">
								<p class="user">
								
								</p>
							</div>
						</article>
						<% } %>
				</section>
		
			<div class="col-12 col-lg-4">
				<section class="comments">
					<% for (let index = 0; index < productos.comment.length; index++) { %>
						<% const comment = productos.comment[index]; %>
					<article>
						<img src="/images/users/<%= comment.user.img %>" alt="">
						<div class="data">
							<p class="user">
							<strong> <a class="nombreComentario" href="/users/profile/<%= comment.user.id %>">  <%= comment.user.username %> </a> </strong>
							 <p><%= comment.comentario %></p>
						</div>
					</article>
					<% } %>

				</section>
				<% if(locals.user){ %> 
				<form class="form" action="/product/comment" method="POST">
					<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
					<input type="hidden" name="idProduct" value="<%= productos.id %>">
					<input type="hidden" name="idUser" value="<%= locals.user.id %>">
					<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
				</form>
				<% } %>
					
			
					<form class="form" action="/product/id/<%=productos.id%>"  method="POST">
						<input name="texto" class="form-input" type="text" value="" placeholder="Escribi tu comentario">
						<button type="submit" class="buy-now-button">Agregar comentario</button>
					
					</form>

					<p> <%= productos.id_comentario%> </p>
					<p> Hola </p>



					
					

					

					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>