<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

				<div class="wrapper fadeInDown">
					<div id="formContent"> 
					  <!-- Login Form -->
					  <form class="form-register" action="/users/profile-edit/<%= profile.id %> " method="POST" enctype="multipart/form-data">
						<br>
				  
					  <input type="text" id="login" class="fadeIn second" name="nombre" placeholder="Nombre" value="<%= profile.nombre %>">
					  <input type="text" id="login" class="fadeIn second" name="apellido" placeholder="Apellido" value="<%= profile.apellido %>">
					  <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email" value="<%= profile.email %>">
					  <input type="text" id="login" class="fadeIn second" name="usuario" placeholder="Nombre de usuario" value="<%= profile.usuario %>">
					  <input type="date" id="login" class="fadeIn third" name="fecha" placeholder="Fecha de nacimiento" value="<%= profile.fecha %>">
					  <input type="file" id="login" class="fadeIn third" name="foto" placeholder="Foto de usuario" value="<%= profile.foto %>">
					  <input type="password" id="login" class="fadeIn third" name="contrasenia" placeholder="Contraseña" value="<%= profile.contrasenia %>">
					  <input type="number" id="login" class="fadeIn third" name="dni" placeholder="Numero de documento" value="<%= profile.dni %>">
  
					  <div id="formFooter">
						  <button type="text" class="underlineHover">submit</button>
					  </div>
  
					</form>
				  
					</div>
				  </div>
				</h2>
	
	

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>