<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')  %> 
	<!-- /Header -->

	<!-- Datos del usuario -->
	
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= "/images/users/<%=profile.foto %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					
					<h1 class="main-title"><%= profile.usuario %> 
						<a href="/users/profile-edit/<%=profile.id %>">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= profile.usuario %></li>
						
						<li><%=profile.productos%></li>
						<li><%=profile.seguidores%></li>
						<li><%=profile.comentarios%></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">My products</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < profile.productos ; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/id/<%= profile.productos[i].id %>">
						<figure class="product-box_image">
							<img src="/images/products/<%= profile.productos[i].photo %>"  alt="shoes">
						</figure>
						<article class="product-box_data">
							<h2> <%= profile.productos[i].titulo  %>  </h2>
							<p> <%= profile.productos[i].descripcion  %> </p>
							<p>Creator: <%= profile.nombre %> <%= profile.apellido %> </p> 
						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>	
</html>