<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < 1; i++) { %>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=productos[i].nombre  %></h2>
			<p class="product-detail-description">
				<a href="/product/product-add">Editar</a>
			</p>
			
		</div>
		
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=productos[i].imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=productos[i].descripcion %>
						</p>
				</article>

				<% } %>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>