<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados: </h2>
			</div>
			
	
					<!-- Show the "ultimos" products -->
					
					
					
							<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/product/product">
									<figure class="product-box_image">
										<img src="<%=productos.foto %> " alt="imagen de">
									</figure>
									<article class="product-box_data">
										<h2> <%= productos.titulo  %> </h2>
										<p><%=productos.descripcion %> </p>
										
									</article>
								</a>
							</section>
						</div>
			




	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>